<BR><BR>
ABOUT
<BR><BR>
The information provided on this page is designed to help consumers file complaints and resolve common issues related to a wide range of privacy concerns involving the potential misuse of personal information.

This page is a compilation of online consumer complaint pages from various Federal government agencies.  In addition to these links, please note that agencies must provide appropriate agency contact information for individuals who wish to submit a privacy related question or complaint. The Federal Agencies page provides links to the privacy programs or other privacy-related resources for most Federal Government agencies.  Registering a complaint at the State level is typically done through that <A HREF="https://www.fpc.gov/organizations-focused-on-privacy-issues-in-the-states-tribal-governments-territories-and-commonwealths-in-the-united-states/">State’s Office of the Attorney General</A>.

The Federal Privacy Council does not collect or receive consumer complaints of any kind or help to resolve individual complaints.


  <!-- GENERAL COMPLAINTS ABOUT COMMERCIAL PRIVACY PRACTICES  -->

  <BR><BR>                                                            
 <ul class="usa-accordion-bordered" style="width:1300px;">

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      General Complaints About Commercial Privacy Practices
    </button>
    <div id="b-a1" class="usa-accordion-content">
Concerned about how a company is handling your personal information? You can file complaints through the 
Federal Trade Commission’s <A HREF="https://www.ftccomplaintassistant.gov/#&panel1-1">Complaint Assistant</A> regarding alleged violations of privacy policies, potential harms resulting from data security breaches, questions about the use of information for certain commercial marketing activities, and other complaints concerning the ways in which private companies may allegedly misuse consumers’ information.                                                 
                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      Caller ID Blocking and Spoofing
    </button>
    <div id="b-a2" class="usa-accordion-content">
  
  The FCC's <A HREF="http://transition.fcc.gov/cgb/consumerfacts/callerid.pdf">caller ID</A> rules require telephone companies to provide, at no cost to you, the means to prevent your telephone number from being transmitted via caller ID to parties to whom you make interstate calls. FCC rules also require telemarketers to display on caller ID their phone numbers and, if possible, their names or the name of the company for which they are selling products. The display must include a phone number that you can call during regular business hours to ask that the company no longer call you. In addition, FCC rules prohibit any person or entity from transmitting misleading or inaccurate caller ID information with the intent to defraud, cause harm, or wrongly obtain anything of value. 

If you receive a call and you think the rules for protecting the privacy of your telephone number have been violated, or you suspect caller ID information has been falsified, you can <A HREF="https://consumercomplaints.fcc.gov/">file a complaint online</A> with the FCC.

               </div>
           
  </li>
                    
                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3">
Credit Reports and Credit Reporting Companies
</button>
    <div id="b-a3" class="usa-accordion-content">
You can <A HREF="http://www.consumerfinance.gov/complaint/">submit a complaint</A> about problems with credit reporting companies. You may also submit a complaint to the Consumer Finance Protection Bureau about a company that reported information about you to a credit reporting company. 

</div>
                                                                                      
  </li>

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4">
      Do Not Call Registry Violations
    </button>
    <div id="b-a4" class="usa-accordion-content">
 
You may file a complaint with the <A HREF="https://complaints.donotcall.gov/complaint/complaintcheck.aspx">Do Not Call Registry</A> if you received an unwanted call after your number has been on the National Registry for 31 days. You may also file a complaint if you received a call that used a recorded message instead of a live person (whether or not your number was on the Registry).

You may also file complaints regarding violations of the Do Not Call list <A HREF="https://consumercomplaints.fcc.gov/">online with the FCC</A>.
              
    </div>
    
                                                                                      
      </li>
   
   
   
   
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a5">
Health Information and Medical Records
    
   </button>
    <div id="b-a5" class="usa-accordion-content">
 This page aids consumers in filing a Health Insurance Portability and Accountability Act (HIPAA) complaint. The HIPAA Rules protect the privacy and security of your health information held by most of your doctors and health plans and their business associates; they say who can look at and receive your health information, and also give you specific rights over that information.

If you believe that a HIPAA covered entity (a health care provider or health plan) or its business associate violated your (or someone else’s) health information privacy rights or committed another violation of the Privacy, Security, or Breach Notification Rules, you may <A HREF="http://www.hhs.gov/hipaa/filing-a-complaint/">file a complaint</A> with the Office for Civil Rights (OCR).

              
    </div>
    
                                                                                      
      </li>
   
   
   
   
   
      
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a6">

    Identity Theft
   </button>
    <div id="b-a6" class="usa-accordion-content">
 
      <A HREF="https://www.identitytheft.gov/">IdentityTheft.gov</A> is the Federal Government’s one-stop source to help you report and recover from identity theft. The site provides you with a customized recovery plan, creates letters, and pre-fills forms to help guide you through the recovery process.
    </div>
    
                                                                                      
      </li>

   
   
   
      
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a7">
International or Cross Border Practices
    
   </button>
    <div id="b-a7" class="usa-accordion-content">
 You can report international scams, including the misuse of personal information, and learn about 
      other steps you can take to combat fraud on <A HREF="https://www.econsumer.gov/#crnt">econsumer.gov</A>. Your complaints help consumer protection agencies across the globe spot trends and work together to prevent international scams. econsumer.gov is a partnership of more than 35 consumer protection agencies around the world including the Federal Trade Commission.
              
    </div>
    
                                                                                      
      </li>

   
   
      
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a8">
Internet Crime
    
   </button>
    <div id="b-a8" class="usa-accordion-content">
 The Federal Bureau of Investigation Internet Crime Complaint Center (IC3) accepts online Internet crime complaints from either the actual victim or from a third party to the complainant. You may <A HREF="https://www.ic3.gov/default.aspx">file a complaint</A> with the IC3 if you believe you have been the victim of an Internet crime or if you want to file on behalf of another person you believe has been such a victim.

Internet crime includes any illegal activity involving one or more components of the Internet, such as websites, chat rooms, and/or email. Internet crime involves the use of the Internet to communicate false or fraudulent representations to consumers. These crimes may include, but are not limited to, advance-fee schemes, non-delivery of goods or services, computer hacking, or employment/business opportunity schemes.

      If you would like to <A HREF="http://www.stopfraud.gov/">report financial fraud</A>, please contact the FBI at 202.324.3000 or online at <A HREF="https://tips.fbi.gov/">https://tips.fbi.gov/</A>. You may also wish to contact the United States Attorney's Office where you are located or where the fraud was committed. Visit the Offices of the United States Attorneys for a list of the 93 United States Attorney's Offices and links to their websites. In addition, certain government agencies target particular types of financial fraud. This website includes some common types of fraud and contact information for the agencies that routinely handle them.

              
    </div>
    
                                                                                      
      </li>

      
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a9">
Phishing
    
   </button>
    <div id="b-a9" class="usa-accordion-content">
 Phishing is a scam typically carried out through unsolicited email and/or websites that pose as legitimate sites and lure unsuspecting victims to provide personal and financial information. You can forward any phishing emails to the FTC at <A HREF="mailto:mailto:spam@uce.gov">spam@uce.gov</A>.  <A HREF="https://www.irs.gov/uac/report-phishing">Report</A> all unsolicited email claiming to be from the IRS or an IRS-related function to <A HREF="mailto:phishing@irs.gov">phishing@irs.gov</A>.
              
    </div>
    
                                                                                      
      </li>

   
   
     <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a10">
Social Security Numbers and Cards
    
   </button>
    <div id="b-a10" class="usa-accordion-content">
 What if you think someone is using your <A HREF="https://www.ssa.gov/ssnumber/">Social Security number</A>? Sometimes more than one person uses the same Social Security number, either on purpose or by accident. If you suspect someone is using your number for work purposes, you should contact the Social Security Administration (SSA) to report the problem. SSA will review your earnings with you to ensure their records are correct.

If you’ve done all you can to fix problems resulting from misuse of your Social Security number, and someone is still using your number, SSA may assign you a new number.

      Visit <A HREF="http://www.socialsecurity.gov/">http://www.socialsecurity.gov/</A> anytime to apply for benefits, open a my Social Security account, find publications, and get answers to frequently asked questions. Or, call SSA toll-free at 1-800-772-1213 (for the deaf or hard of hearing, call our TTY number, 1-800-325-0778).

              
    </div>
    
                                                                                      
      </li>

   
   
   
   
   
     <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a11">
Student and Children's Information  
    
   </button>
    <div id="b-a11" class="usa-accordion-content">
 This page provides information and resources for submitting a <A HREF="http://familypolicy.ed.gov/">complaint</A> under the Family Education Rights and Privacy Act (FERPA). A parent of a student under the age of 18 at an elementary or secondary school or a student who is at least 18 years of age or attending a postsecondary institution at any age (“eligible student”) may file a written complaint with the Family Policy Compliance Office (FPCO) regarding an alleged violation of a school’s failure to comply with his or her rights under FERPA.

 

      You can use the <A HREF="https://www.ftccomplaintassistant.gov/">FTC’s Complaint Assistant</A> to file a complaint under the Children’s Online Privacy Protection Rule (COPPA). COPPA imposes certain requirements on operators of websites or online services directed to children under 13 years of age, and on operators of other websites or online services that have actual knowledge that they are collecting personal information online from a child under 13 years of age.

      For more information about submitting a COPPA complaint, visit the <A HREF="https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions">FTC’s website</A>.

              
    </div>
    
                                                                                      
      </li>

   
   
   
   
   
   
     <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a12">
      Information Collected by Voice, Broadband, Cable, and Satellite Service Providers
      
   </button>
    <div id="b-a12" class="usa-accordion-content">
 Your communications providers <A HREF="http://transition.fcc.gov/cgb/consumerfacts/protectingprivacy.pdf">collect information about you</A>, such as your address and the services to which you subscribe, in connection with providing and billing you for services, and may only disclose this information under certain, limited circumstances. If you have questions or concerns about the collection and use of your information by your voice, broadband, cable, or satellite provider, you may <A HREF="https://consumercomplaints.fcc.gov/">submit a complaint</A> online to the FCC.
              
    </div>
    
                                                                                      
      </li>

   
   
      
     <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a13">
      Unsolicited Commercial Emails
      
   </button>
    <div id="b-a13" class="usa-accordion-content">
      You can forward unwanted email(s) to the FTC at <A HREF="mailto:spam@uce.gov">spam@uce.gov</A>. You may also file complaints about unsolicited commercial emails using the FTC’s <A HREF="http://www.ftccomplaintassistant.gov/">Complaint Assistant</A>.

Report investment-related spam e-mails to the U.S. Securities and Exchange Commission using the SEC <A HREF="https://denebleo.sec.gov/TCRExternal/disclaimer.xhtml">Tips, Complaints and Referrals Portal</A>.

              
    </div>
    
                                                                                      
      </li>
   
   
   
   
   
      
     <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a14">
      Unwannted Calls and Text Messages on a Mobile Device
      
   </button>
    <div id="b-a14" class="usa-accordion-content">
 You may file complaints using the <A HREF="http://www.ftccomplaintassistant.gov/">FTC’s Complaint Assistant</A> if you are receiving unwanted commercial texts or continue to receive texts after telling the sender to stop sending them.

You may also file complaints regarding unwanted calls and texts to your wireless phone <A HREF="https://consumercomplaints.fcc.gov/">online with the FCC</A>.

              
    </div>
    
                                                                                      
      </li>
   
                                                </ul>                                                
                                                                         
                                                                         
          
 
