<span style="font-family: 'poppins', arial;font-size: 20px; color: #444444;">
<b>Unified Shared Services Management (USSM)</b></span><p></p>

<span style="font-family:'poppins', arial;  color: #444444;"><p></p>
The Unified Shared Services Management (USSM) office, residing in the General Services Administration (GSA),
provides the strategy and leadership to make mission enabling services better, faster and more affordable.<p></p>

<span style="font-family: 'poppins', arial;  color: #444444;"><p></p>
Common administrative service areas like financial management (FM), human resources (HR), acquisition, 
information technology (IT), grants management, and travel are performed across all federal agencies. 
Yet agencies have spent billions of dollars to each individually build their own technology and service capabilities.
  USSM is transforming the way government does business internally, to drive agencies to share investments in people,
  business processes and technology; and to function more as one enterprise serving the American public.</span><p></p>

<span style="font-family: 'poppins', arial;  color: #444444;"><p></p>
Visit our website frequently to stay current on new initiatives and tools.</span></span>
