
<map name="image-map">
    <area target="" alt="M3 Framework Introduction" title="M3 Framework Introduction" href="/m3" coords="8,5,118,5,143,40,118,68,9,76" shape="poly">
    <area target="" alt="M3 Framework Overview" title="M3 Framework Overview" href="/m3overview" coords="278,35,243,69,123,73,153,35,125,5,242,6" shape="poly">
    <area target="" alt="M3 Phase 0 - Assessment" title="M3 Phase 0 - Assessment" href="/m3phase0" coords="404,39,373,71,250,69,282,37,255,5,370,5" shape="poly">
    <area target="" alt="M3 Phase 1 - Readiness" title="M3 Phase 1 - Readiness" href="/m3phase1" coords="536,35,504,73,378,71,408,41,386,7,505,5" shape="poly">
    <area target="" alt="M3 Phase 2 - Selection" title="M3 Phase 2 - Selection" href="/m3phase2" coords="669,42,640,74,515,75,540,36,520,6,630,2" shape="poly">
    <area target="" alt="M3 Phase 3 - Engagement" title="M3 Phase 3 - Engagement" href="/m3phase3" coords="795,36,764,75,654,72,681,35,644,7,765,6" shape="poly">
    <area target="" alt="M3 Phase 4 - Migration" title="M3 Phase 4 - Migration" href="/m3phase4" coords="931,36,897,71,777,71,806,36,783,5,891,2" shape="poly">
    <area target="" alt="M3 Phase 5 - Operations" title="M3 Phase 5 - Operations" href="/m3phase5" coords="1058,40,1024,72,912,70,940,37,910,1,1026,5" shape="poly">
    <area target="" alt="M3 Resources" title="M3 Resources" href="/m3resources" coords="1038,5,1156,6,1189,37,1164,68,1040,73,1062,39" shape="poly">
</map>
