---
layout: base
---
<section class="usa-section usa-grid">
  <h1> {{ page.title }}</h1>
The Customer Council exists to give consumers of shared services, both current and future, a voice to address current challenges and inform development of the shared services marketplace.
&nbsp;
Council members represent the interests of their respective agencies across a number of management functions and are responsible for soliciting input and feedback from their colleagues as appropriate.   

  <div class="tbtable">
  <div class="tbcell left">
    <div>{{ content }}</div>
  </div>
  <div class="tbcell right">
    <div>
      {% if page.image %}
      <img src="{{ page.image | prepend: site.baseurl }}">
     {% endif %}
    </div>
  </div>
</div
</section>
