---
layout: base
---
<section class="usa-section usa-grid">
<a href="../initiatives"><span style="font-family: arial">Initiatives</span></a> &gt; <span style="font-family: arial">Federal Integrated Business Framework</span>
<p></p>
<p></p>
<h2 style="font-family: arial"><strong>Federal Integrated Business Framework</strong></h2>
  
  
  <CENTER>
  <table class="invisible_table" width="100%">
    <tr>
      <td colspan="6" class="invisible_table">
        <U><FONT STYLE="font-size:20px; font-family: arial;">Service Area Ecosystem</U></FONT>
      </td>
    </tr>
    
    <tr>
      
      <td valign=top class="invisible_table" valign=middle><center>
      
        <img src="/assets/img/fibf.svc.area.png" alt="Select a Service Area to the Right">
      </td>
      
      
      
      <td valign=top class="invisible_table"><center>
      
        <A HREF="https://www.ussm.gov/fibf-fm"><img src="/assets/img/icon.fm.png" border=0 alt="Financial Management"></A>
      </td>
      
       <td class="invisible_table"><center><A HREF="https://www.ussm.gov/fibf-hr"><img border=0 
src="/assets/img/icon.hr.png" alt="Human Capital"></A>
        </td>
      
      
      <td class="invisible_table"><center>
        <A HREF="https://www.ussm.gov/fibf-procurement"><img border=0 alt="Procurement" src="/assets/img/icon.procurement.png" alt="Procurement"></A>
      </td>
      
      
      <td class="invisible_table"><center>
        <A HREF="https://www.ussm.gov/fibf-gm"><img border=0 src="/assets/img/icon.grants.png" alt="Grants Management"></A>
      </td>

      
      <td class="invisible_table"><center>
        <A HREF="https://www.ussm.gov/fibf-travel"><img src="/assets/img/icon.travel.png" border=0 alt="Travel"></A>
      
        </td>
      
    </tr>
        
        <tr>
        <td>
          &nbsp;
          </td>
          
          
    <td class="invisible_table"><CENTER>
      <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Financial Management</FONT>
      
      </td>
      <td class="invisible_table"><CENTER>
        <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Human Capital</font>
      </td>
        
        <td class="invisible_table"><CENTER>
      <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Procurement</font>
      
      </td>
      <td><CENTER>
          <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Grants Management</font>
      </td>

  
      <td class="invisible_table"><CENTER>
          <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Travel & Expense</font>
        </td>

        </tr>
  
  
  
  </table>
  
  </CENTER>
  
  <BR><BR>
  
  
  
<span style="font-family: arial;font-size: 18px;font-weight: strong"><B>What is the Federal Integrated Business Framework (FIBF)?</B></span><BR>
<span style="font-family: arial;font-size: 16px">The FIBF is a model that enables the Federal government to better coordinate and document common business needs across agencies, focusing on outcomes, data, and cross-functional end-to-end business processes. It is the essential first step towards standards that will drive economies of scale and leverage the government’s buying power. The FIBF includes five components:</span>
<TABLE style="border-style: hidden; border-color:#ffffff;"><TR style="border-style: hidden; border-color:#ffffff;"><TD style="border-style: hidden; border-color:#ffffff;" >
<ul style="font-family: arial;font-size: 16px">
<li style="list-style-type: none">
<ul style="font-family: arial;font-size: 16px">1. <B>Federal Business Lifecycles, service areas, functions, and activities</B> serve as the basis for a common understanding of what services agencies need and solutions should offer.
</ul>
</li>
</ul>
&nbsp;
<ul style="font-family: arial;font-size: 16px">
<li style="list-style-type: none">
<ul style="font-family: arial;font-size: 16px">2. <B>Business Capabilities</B> are the outcome-based business needs mapped to Federal government authoritative references, forms, and data standards.</ul>
</li>
</ul>
&nbsp;
<ul style="font-family: arial;font-size: 16px">
<li style="list-style-type: none">
<ul style="font-family: arial;font-size: 16px">3. <B>Business Use Cases</B> are a set of agency “stories” that document the key activities, inputs, outputs, and other LOB intersections to describe how the Federal government operates.</ul>
</li>
</ul>
&nbsp;
<ul style="font-family: arial;font-size: 16px">
<li style="list-style-type: none">
<ul style="font-family: arial;font-size: 16px">4. <B>Standard Data Elements</B>  identify the minimum data fields required to support the inputs and outputs noted in the use cases and capabilities.</ul>
</li>
</ul>
&nbsp;
<ul style="font-family: arial;font-size: 16px">
<li style="list-style-type: none">
<ul style="font-family: arial;font-size: 16px">5. <B>Performance Metrics</B> define how the government measures successful delivery of outcomes based on timeliness, efficiency, and accuracy targets.</ul>
</li>
</ul>
</TD><br />
<TD valign="top"><br />
<img src="https://s3.amazonaws.com/sitesusa/wp-content/uploads/sites/1041/2017/01/FIBF.circle.png" align="right" />
</TD><br />
</TR></TABLE>
<BR><p></p>
  
  
<span style="font-family: arial;font-size: 18px;font-weight: strong"><B>The cross-functional end-to-end business processes the FIBF currently covers include:</B></FONT></span>
  <BR><BR>
<span style="font-family: arial;font-size: 16px;">
010. Budget Formulation-to-Execution<BR>
020. Acquire-to-Dispose<BR>
030. Request-to-Procure<BR>
040. Procure-to-Pay<BR>
050. Bill-to-Collect<BR>
060. Record-to-Report<BR>
070. Agree-to-Reimburse<BR>
080. Apply-to-Perform<BR>
091. Post-to-Onboard (Talent Acquisition)<BR>
092.  Needs-to-Outcomes (Talent Development)<BR>
093. Plan-to-Appraise (Employee Performance Management)<BR>
094a. Plan-to-Compensate (Payroll & T&A)<BR>
094b. Plan-to-Compensate (Compensation and Benefits)<BR>
095e. Counseling-to-Retirement (Separation and Retirement)<BR>
100.  Book-to-Reimburse<BR>
110.  Apply-to-Repay<BR>
</span>
  
  
<BR><p></p>
<span style="font-family: arial;font-size: 18px;font-weight: strong"><B>How is the FIBF being built?</B></span><BR>
<span style="font-family: arial;font-size: 16px">The FIBF is being developed and defined by cross-agency working groups led by the respective Managing Partner/Service Area Lead.</span>
  <BR>
  <TABLE WIDTH="80%">
    <TR><TD><I>Service Area</I></TD><TD><I>Managing Partner/Service Area Lead</I></TD></TR>
     
    <TR><TD>Financial Management</TD><TD>Treasury, Office of Financial Innovation and Transformation</TD></TR>
  
    <TR><TD>Grants Management</TD><TD>Interagency Workgroup</TD></TR>
    
    <TR><TD>Human Capital</TD><TD>Office of Personnel Management, Human Resources Line of Business</TD></TR>
    
    <TR><TD>Information Systems Security</TD><TD>DHS Information Systems Security Line of Business</TD></TR>
    
    <TR><TD>Procurement</TD><TD>DHS Office of the Chief Procurement Officer</TD></TR>
   
    <TR><TD>Records Management</TD><TD>National Archives and Records Administration</TD></TR>
    
    <TR><TD>Travel</TD><TD>GSA Federal Acquisition Service</TD></TR>
   
    
  </TABLE>
  

  <BR><BR>
<span style="font-family: arial;font-size: 16px">As a part of the development process, the FIBF is also being examined from a cross-functional perspective by the Business Standards Council. This is a key component of achieving a cross-functional, interoperable set of government-wide standards for administrative services.</span>
  
  
 
</section>
  
