---
layout: base2
---
<A NAME="top">
 
<link rel="stylesheet" type="text/css" href="/assets/datatables/datatables.min.css"/>
 <link rel="stylesheet" type="text/css" href="/assets/datatables/responsive.dataTables.min.css"/>
<script type="text/javascript" src="/assets/datatables/datatables.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/uswds-{{ site.wds-version }}/js/uswds.min.js"></script>
<script src="{{ '/assets/js/index.js' | prepend: site.baseurl  }}"></script>
 
 
<style>
 .two {
background: url('../assets/img/fibf/fibf.plain.png');
}

.two:hover {
background: url('../assets/img/fibf/fibf.bc.on.png');
}
 
  #rcorners2 {
    border-radius: 15px 50px;
    border: 2px solid #205493;
    padding: 20px; 
    width: 500px;
    height: 160px;    
}

		   function flipHR(strImage) {
	  document.hrarea.src = strImage; return true;
}
	 

</style>



<section class="usa-section usa-grid">
<a href="../initiatives"><span style="font-family: arial">Initiatives</span></a> &gt; <a href="../fibf"><span 
style="font-family: arial">Federal Integrated Business Framework</A> &gt; <B>Human Capital - Compensation and Benefits Standards</B></span>

 <p></p> 
 
 <p></p>
 <font style="font-family: arial; font-size:30px;"><strong>Human Capital -  Compensation and Benefits Standards</font></strong><BR>

 <script language="javascript">
function flipImage(strImage) {
  document.fibfimage.src = strImage; return true;
}
  
  function flipMenu(strImage) {
  document.svcarea.src = strImage; return true;
}
  
	 
function flipHR(strImage) {
	  document.hrarea.src = strImage; return true;
}
	 
  
 </script>
 
<table>
 <tr><td valign=top width="450" style="border-style: hidden;"><center>
<img height=400 width=400 src="../assets/img/fibf/fibf.plain.png" alt="Components of the Federal Integrated Business Framework" name="fibfimage" usemap="#image-map">
  <BR><font style="font-size: 12px;"><i>Click wheel to review standards</i></font>
  </td>
  <td valign=top  style="border-style: hidden;">
   <img src="../assets/img/fibf/service.areas.hr.hr.png" alt="Service Area Menu" name="svcarea" usemap="#svc-map">
  <CENTER>
	  <FONT style="font-size:17px;"><B>Employee Lifecycle</B></FONT>
   <img name="hrarea" src="../assets/img/fibf/hr.sub.cb.png" alt="Service Area Menu" usemap="#hr-map">
	  </CENTER>
   
<map name="svc-map">
 <area target="" alt="Human Capital" title="Human Capital" href="../fibf-hr/" 
          onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="109,0,206,125" shape="rect">
    <area target="" alt="Procurement" title="Procurement" href="../fibf-procurement/"
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.acq.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="208,2,310,125" shape="rect">
    <area target="" alt="Grants Management" title="Grants Management" href="../fibf-gm/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.gm.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="311,1,424,125" shape="rect">
    <area target="" alt="Travel" title="Travel" href="../fibf-travel/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.tv.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="427,1,520,125" shape="rect">
    <area target="" alt="Financial Management" title="Financial Management" href="../fibf-fm/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.fm.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="6,2,104,124" shape="rect">
</map>
	  
	  
	  
<map name="hr-map">
    <area target="" alt="Human Capital - Talent Acquisition" 
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.ta.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.cb.png');"
	  title="Human Capital - Talent Acquisition" href="https://www.ussm.gov/fibf-hr" coords="4,2,99,90" shape="rect">
    <area target="" alt="Human  Capital - Talent Development"  
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.td.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.cb.png');"
	  title="Human  Capital - Talent Development" href="https://www.ussm.gov/fibf-hr-td" coords="105,3,194,81" shape="rect">
    <area target="" alt="Human  Capital - Employee Performance Management"
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.epm.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.cb.png');"
	  title="Human  Capital - Employee Performance Management" href="https://www.ussm.gov/fibf-hr-epm" coords="212,6,310,86" shape="rect">
    <area target="" alt="Human Capital - Compensation and Benefits"
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.cb.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.cb.png');"
	  title="Human Capital - Compensation and Benefits" href="https://www.ussm.gov/fibf-hr-cb" coords="317,6,427,87" shape="rect">
</map>
	  
	  
 
 
 &nbsp;&nbsp;The Federal Integrated Business Framework is a model that enables the Federal government to better coordinate and document common business needs across agencies and focus on outcomes, data, processes and performance. It is the essential first step towards standards that will drive economies of scale and leverage the government’s buying power. 
 <BR><BR>
  
 
  <p id="rcorners2">
<B>Human Resources Service Area  Lead</B><BR>
  <B>Name:</B> OPM, Human Resources Line of Business<BR>
  <B>Web:</B><A HREF="https://www.opm.gov/services-for-agencies/hr-line-of-business/">www.opm.gov/services-for-agencies/hr-line-of-business/</A><BR>
  <B>References:</B><A HREF="https://www.opm.gov/services-for-agencies/hr-line-of-business/hc-business-reference-model/">Human Capital Business Reference Model</A> 	
 	  
 	 </p>
 
   </td>
  
  </tr>
  </table>
 
  
  
  <BR><BR>
 
 <!-- Image Map Generated by http://www.image-map.net/ -->

<map name="image-map">
 
 <area class="one" target="" alt="Federal Business Lifecycle" title="Federal Business Lifecycle" 
        onMouseOver="flipImage('../assets/img/fibf/01.fibf.bl.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
href="#business_lifecycle" 
coords="64,60,138,131,169,122,198,116,234,117,258,133,335,56,287,24,227,10,169,2,117,21" shape="poly">
 
 <area class="two" target="" onMouseOver="flipImage('../assets/img/fibf/02.fibf.bc.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
 alt="Business Capabilities" title="Business Capabilities" href="#business_capabilities" 
coords="261,135,338,63,361,89,383,137,393,179,391,224,382,268,376,285,279,235,287,187,276,158" shape="poly">

 <area class="three" target="" alt="Business Use Cases" title="Business Use Cases" 
        onMouseOver="flipImage('../assets/img/fibf/03.fibf.uc.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
href="#business_use_cases" 
coords="275,237,370,287,314,357,207,389,202,320,202,284,244,269" shape="poly">
 
 <area class="four" target="" alt="Standard Data Elements" 
        onMouseOver="flipImage('../assets/img/fibf/04.fibf.de.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
title="Standard Data Elements" href="#standard_data_elements" 
coords="196,280,192,388,125,378,72,345,35,303,28,289,119,234,137,259,166,274" shape="poly">
 
 <area class="five" target="" alt="Performance Metrics" 
        onMouseOver="flipImage('../assets/img/fibf/05.fibf.pm.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
title="Performance Metrics" href="#performance_metrics" 
coords="120,232,25,279,7,199,13,137,36,94,61,64,132,139,115,169,114,195" shape="poly">

 </map>
 

  
 <!-- BUSINESS LIFE CYCLE -->
   
   <hr>
 <table style="border-style: hidden;"><tr><td  width="220" valign=top style="border-style: hidden;">
 <A NAME="business_lifecycle"> <img src="../assets/img/fibf/01.federal.business.lifecycle.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Federal Business Lifecycle - Compensation and Benefits</STRONG></font><BR>
   <I>Federal Business Lifecycles, service areas, functions, and activities serve as the basis for a common understanding of what services agencies need and solutions should offer.</I>
   <BR><BR>
    <I>Functions: Breakdown of a service area into categories of services provided to customers. 
<BR><BR>
    Activities: Within a function, processes that provide identifiable outputs/outcomes to customers are defined as activities.</I>
</td>
  </tr>
 </table>
 
    
    <font style="font-size:16px;"><I>Select from the list of available functions to view associated activities</I></font>
    
     <ul class="usa-accordion-bordered" style="width:1500px;">


      
  <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1" style="width:1000px;">
   HCM.130	Compensation Management (Payroll Administration)
    </button>
    <div id="b-a1" class="usa-accordion-content">
<table width="950px;" cellpadding=2>
 <tr>
  <td valign=top class="capability_class">
   <i><B>Identifier</B></I>
  </td>
  <td valign=top class="capability_class" width="27%">
   <B><I>Activity</I></B>
  </td>
  <td valign=top class="capability_class">
   <B><I>Description</I></B>
  </td>
  
 </tr>
 
 
 
 <tr>
  <td valign=top class="capability_class">
HCM.130.010 <BR>
(A5.1.S1)
  </td>
  
  <td valign=top class="capability_class" width="27%">

Payroll Processing 

	  </UL>
 </td>
  <td valign=top class="capability_class">

	Define and maintain the processes, business rules, and calculations necessary to accurately and efficiently execute payroll for employees paid by the Federal Government. The outcomes of this service include, but are not limited to:
  <UL>
• Processes and workflows for integrating with HR and Time and Attendance systems and other resources necessary to calculate and execute payroll (e.g., third party Interfaces, benefits systems, etc.) 
<BR>• Leave and earning statements for every employee
<BR>• Calculated results for amounts payable to appropriate payees (e.g. employees, beneficiaries, taxing authorities, etc.)
<BR>• Furnish appropriate compensation documents (e.g., W-2s, 1099s, etc.) to employees and other stakeholders (e.g., IRS, OPM, TSP, Treasury)
<BR>• Leave accrual and balance maintenance
<BR>• Integrated payroll workflow management capability "

 </td>
  
 </tr>
    
	
	
	
	
	
 
 <tr>
  <td valign=top class="capability_class">

HCM.130.020 <BR>
(A5.1.S2)
  </td>
  
  <td valign=top class="capability_class" width="27%">
Payroll Data Capture, Transfer, and Reporting	


</td>
  <td valign=top class="capability_class">
	  
Capture, analyze, and report compensation data. The outcomes of this service include, but are not limited to:
<UL>
<BR>• Standard payroll and compensation program reports
<BR>• Error reporting 
<BR>• Ad-hoc reporting
<BR>• Data transfers between agencies, certified providers, and vendors
</UL>

 </td>
  
 </tr>
	
	
 
 <tr>
  <td valign=top class="capability_class">
HCM.130.030	<BR>
(A5.1.S3)

</td>
  
  <td valign=top class="capability_class" width="27%">
Payroll System Administration  	
</td>
  <td valign=top class="capability_class">

Provide and maintain administrative and logistical activities related to payroll systems and records management. The outcomes of this service include, but are not limited to:

<UL>
• Audit trails 
<BR>• Updated and maintained employee record 
<BR>• Historical payroll information for all employees
<BR>• Continuity of operations plan
</UL>
 </td>
  
 </tr>

	  
	  
	   
 <tr>
  <td valign=top class="capability_class">
HCM.130.040 <BR>
(A5.1.S4)
  </td>
  
  <td valign=top class="capability_class" width="27%">

Payroll System Change Management 	
</td>
  <td valign=top class="capability_class">
Provide and maintain change management activities related to payroll systems. The outcomes of this service include, but are not limited to:
<UL>
• Formalized process for tracing and documenting the translation of federal policy to functional, and then to technical requirements 
</UL>

</td>
  
 </tr>

</table>
    
  <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2" style="width:1000px;">
HCM.140	Work Schedule and Leave Management

</button>
    <div id="b-a2" class="usa-accordion-content">

<table width="950px;">
 
  <tr>
  <td valign=top class="capability_class">
   <i><B>Identifier</B></I>
   
  </td>
  
  <td valign=top class="capability_class" width="27%">
   <B><I>Activity</I></B>
   
  </td>
  <td valign=top class="capability_class">
   <B><I>Description</I></B>
  </td>
  
 </tr>
 
  
<tr>
  <td valign=top class="capability_class">
HCM.140.010	
<BR>
(A5.2.S1)

  </td>
  
   
   <td valign=top width="20%" class="capability_class">

Work Schedule and Leave Policy Development and Management
  </td>
  <td valign=top class="capability_class">
   
	Establishing, maintaining, and enforcing agency work schedule and leave policy.  The outcomes of this service include, but are not limited to:
<UL>
• assess current agency WSLM needs
<BR>• identify objectives for the management and oversight of agency WSLM
<BR>• establish, maintain, and enforce agency WSLM policy, in accordance with all applicable federal rules and regulations 
<BR>• assess and update agency WSLM policy as needed
</UL>

	</td>
  
 </tr>
 
	
	   <tr>
  <td valign=top class="capability_class">

HCM.140.020	<BR>
(A5.2.S2)

</td>
  
   
   <td valign=top width="20%" class="capability_class">
Develop Work Schedule and Leave Management Standard Operating Procedures	
</td>
  <td valign=top class="capability_class">
Designing, maintaining, and updating prescribed methods to be followed routinely for the capture and administration of Time and Attendance and Leave Management. SOPs must be approved by designated agency officials.  The outcomes of this service include, but are not limited to:
<UL>
• develop and maintain procedures detailing how employee timecard and leave management activities will be performed
<BR>• agency approval for Time and Attendance and Leave Management procedures
<BR>• communicate agency-approved Time and Attendance and Leave Management procedures to employees
<BR>• update agency-approved Time and Attendance and Leave Management procedures based on changing policy or other factors
</UL>

</td>
  
 </tr>
	
		   <tr>
  <td valign=top class="capability_class">

HCM.140.030	<BR>
(A5.2.S3)

</td>
  
   
   <td valign=top width="20%" class="capability_class">

Work Schedule Development and Management	
</td>
  <td valign=top class="capability_class">
Providing and maintaining employee's work schedule so that it corresponds with the employee's actual work requirements to accomplish the mission of the agency. The outcomes of this service include, but are not limited to:
<UL>
• develop and approve employee work schedules
<BR>• edit or make changes to employee work schedules 
</UL>
</td>
  
 </tr>


		   <tr>
  <td valign=top class="capability_class">
 HCM.140.040	<BR>
 (A5.2.S4)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
 
 Time Card Management 	
  </td>
  <td valign=top class="capability_class">
 Recording, validating, certifying, and amending/correcting Time & Attendance.  The outcomes of this service include, but are not limited to:
<UL>
• method and process for employee/timekeeper to record employee time worked
<BR>• method and process for timekeeper/supervisor/employee to validate employee Time and Attendance 
<BR>• method and process for certifying official to approve finalized employee time cards
<BR>• method and process for employees and approved personnel to amend/correct time cards
<BR>• method and process for employees to request and record leave and premium pay, and for approving official to review request and take appropriate action
	</UL>
	</td>
  
 </tr>

	   <tr>
  <td valign=top class="capability_class">
 HCM.140.050	<BR>
 (A5.2.S5)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
 Time &Attendance Transmittal 	
 
  </td>
  <td valign=top class="capability_class">

Creating batch process for transmittal of Time & Attendance  data to Payroll Provider.  The outcomes of this service include, but are not limited to:

<UL>
• T&A batch processing 
<BR>• transmit T&A data to Payroll Provider
<BR>• track and manage the T&A transmittal process to Payroll Provider
<BR>• coordination with Payroll Provider to remediate transmittal and Time &Attendance issues
</UL>
 
	
	</td>
  
 </tr>


   <tr>
  <td valign=top class="capability_class">
 HCM.140.060	<BR>
 (A5.2.S6)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
 
 Time &Attendance  Reporting	
 
  </td>
  <td valign=top class="capability_class">
 
Extracting reports on the captured Time & Attendance data. The outcomes of this service include, but are not limited to:
<UL>
• capture, store, export, and view time and attendance data
<BR>• generate standard and ad hoc employee time and attendance reports 	
	</UL>
  
  </td>
  
 </tr>


 
     </table>
 
 
    </div>
  </li>
     
     
	   
	   <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3" style="width:1000px;">

HCM.150	Benefits Management
</button>
    <div id="b-a3" class="usa-accordion-content">
To be developed.<BR><BR>
	    
	  
	    
	    
		   </div>
		   
		  
      
      
       
	   <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4" style="width:1000px;">
HCM.160	Work-Life Wellness/Employee Assistance Programming (EAP)

</button>
    <div id="b-a4" class="usa-accordion-content">
To be developed.<BR><BR>
	    
		   </div>

    </ul>
    
    
      <table width="100%">
       <tr><td align=right style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>    
    
   <BR><BR>
    
    <hr>
     
 <!-- BUSINESS CAPABILITIES -->
      
    
     <table  style="border-style: hidden;"><tr><td  width="220" valign=top style="border-style: hidden;">
 <A NAME="business_capabilities"> <img src="../assets/img/fibf/02.business.capabilities.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Business Capabilities - Compensation and Benefits</STRONG></font><BR>
 <I>Business Capabilities are the outcome-based business needs mapped to Federal government authoritative references, forms, and data standards.</I><BR><BR>
    
   
   
</td>
  </tr>
 </table>
 
     </section>
 <center>
    <section style="width:75%">
    
  <CENTER>
    <table id="table_id" class="display" width="100%" data-page-length="40" class="display responsive nowrap">
    <thead>
        <tr>
            <th>Capability ID</th>
            <th width=15%>Function</th>
            <th width=25%>Activity Name</th>
            <th width="40%">Business Capability Statement</th>
           </tr>
    </thead>
    <tbody>
         
<tr> <td class="capability_class" valign=top >
HCM.130.010.081
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Capture properly authorized input from the Work Schedule and Leave Management Processing Function necessary to process leave.
</td>     </tr>

<tr> <td class="capability_class" valign=top >
HCM.130.010.082
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
For current and prior pay periods perform all activities associated with determination of proper leave balances for all types of leave, leave advances, accruals, usages, forfeitures, limitations, conversions, and transfers between agencies.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.083
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Manage leave transfers and leave bank programs in accordance with applicable regulations.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.084
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Provide data to support audits to ensure that all reported leave balances have been processed accurately and that balances used in pay calculations are correct.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.085
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Track results of leave processing adjustments and maintain audit trail.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.086
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Update employee leave balances
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.091
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Accommodate requests for waiver of collections for leave advances.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.092
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Allow for manual leave adjustments as appropriate.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.010.093
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Automatically convert leave taken in excess of available balance, based upon an established leave priority policy. When appropriate, the solution must provide for management review/approval (e.g., to determine advance leave, leave without pay or absence without leave).
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.011
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Interface with the Time and Attendance, Human Resources, and Financial Management systems, as necessary.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.012
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Produce real-time customizable payroll and HR-related dashboards and workforce analytics.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.021
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Capture employee-specific payroll record data as defined by the Payroll Data Standards.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.022
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Record gross pay, net pay, and deductions (e.g., employee or government contributions) by funding source(s), generating information to update other functions and other systems, as appropriate, including the Standard General Ledger maintained in the core financial system
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.031
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Provide real-time capability, where applicable, to accept, identify, and process transactions from other systems (e.g., Employee Self-Service, Entry on Duty, etc.).
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.020.032

</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Provide real-time error response(s), where applicable, and/or error report(s) to the user.

</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.011

</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Permit Government ownership of all data, and the data must be extractable in machine readable format at any time by government systems or personnel.

</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.012

</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Support the availability of government-wide payroll data to larger communities in order to support research and analysis, data-driven decision making, and accountability.

</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.013
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Comply with all published Federal Data Standards.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.021
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Allow all payroll providers access to an employee's full payroll history.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.022
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Allow employees to update personal payroll information in the current or future processing pay period, at the employee's discretion (e.g., tax withholding information, electronic funds transfer information, and allotments, etc.).
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.023
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Update individual payroll information that has been modified by the employee
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.024
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Maintain and store each pay record by the pay period in which it was calculated and by the pay period to which it applies (e.g., the effective pay period).
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.031
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide standard data (e.g., Human Resources, Time & Attendance, and payroll data, accounting data, personal data, etc.) based on government-wide and agency-specific directives established and used for pay processing.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.032
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide role-based capabilities for consistently applied internal and external control (e.g., security/segregation) over data entry, transaction processing, and reporting.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.033
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Configure/standardize specific customer needs for data input, processing rules, and edit criteria.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.034
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Prevent duplicate data entry, except where applicable exceptions apply (e.g., dual appointments, etc.), by automatically accessing positon and employee information already residing within the system.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.041
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Design, develop, and publish a continuity of operations plan (COOP).
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.042
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Draft and publish User Guides and FAQs to assist customers utilizing the payroll system.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.030.051
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Comply with National Archives and Records Administration (NARA) General Record Schedules (GRS) retention requirements.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.040.011
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll System Change Management
</td>
         <td class="capability_class" valign=top   width="40%">
Provide role-based and subscription-based alert and notification capability for any updates to policy, functional, or technical requirements.
</td>     </tr>



<tr> <td class="capability_class" valign=top >
HCM.130.040.012
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Track and validate functional requirements, technical requirements, and production implementation in the impacted Human Resources, Time & Attendance, and Payroll systems.
</td>     </tr>



<tr> <td class="capability_class" valign=top >
HCM.130.040.013
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to store and/or reference related documentation.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.040.014
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Generate a comprehensive requirements traceability matrix and provide ad-hoc reporting.
</td>     </tr>
<tr> <td class="capability_class" valign=top >
HCM.130.040.015
</td>
            <td class="capability_class" valign=top >
Compensation Management (Payroll Administration)
</td>
         <td class="capability_class" valign=top >
Payroll Processing
</td>
         <td class="capability_class" valign=top   width="40%">
Maintain version control of all documentation.
</td>     </tr>



<tr> <td class="capability_class" valign=top >HCM.140.010.011
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule and Leave Policy Development and Management
</td>
         <td class="capability_class" valign=top   width="40%">
Capture Federal regulatory, Federal statutory, agency-specific policy/guidance, and labor agreements applicable to work schedule and leave management.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.010.012
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule and Leave Policy Development and Management
</td>
         <td class="capability_class" valign=top   width="40%">
Review agency-specific work schedule and leave management policies on an annual basis.
</td>     </tr>





<tr> <td class="capability_class" valign=top >HCM.140.010.013
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule and Leave Policy Development and Management
</td>
         <td class="capability_class" valign=top   width="40%">
Enforce compliance with agency work schedule and leave management policies.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.020.011
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Develop Work Schedule and Leave Management Standard Operating Procedures	
</td>
         <td class="capability_class" valign=top   width="40%">
Capture agency work schedule and leave management Standard Operating Procedures (SOPs)
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.020.012
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Develop Work Schedule and Leave Management Standard Operating Procedures	
</td>
         <td class="capability_class" valign=top   width="40%">
Enforce compliance with agency work schedule and leave management SOPs.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.011
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	
</td>
         <td claCapture available agency work schedules, job roles, and work requirements.ss="capability_class" valign=top   width="40%">
Capture available agency work schedules, job roles, and work requirements.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.012
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Define work schedules that accurately corresponds with position work requirements.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.013
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Customize tours of duty and work schedules to meet agency requirements.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.014
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Assign work schedules to employees.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.015
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Record and maintain employee work schedules in the system of record.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.016
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Apply telework agreement to the work schedule.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.030.017
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Work Schedule Development and Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Obtain supervisory approval on work schedule changes.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.011
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
	Populate employee time card with relevant employee demographic data.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.012
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Capture employee assigned work schedule, leave accruals, and leave balances.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.013
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Associate an accounting code(s) (funding sources) to an employee (in accordance with CGAC).
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.014
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Capture telework eligibility and types available to employee.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.015
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Electronically collect time worked, leave taken, and other pay-related data (e.g.  piecework,  fee basis units/dollars,  and differentials and premium pay data for each employee) according to established policy and federal regulations.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.016
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Record telework hours.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.017
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Record holiday pay for part-time employees based on work schedule.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.018
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Record continuation of pay (COP).
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.019
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Record premium pay.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.020
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Capture comments on timesheet submission.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.021
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Electronically request and approve ad-hoc / situational telework.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.022
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Certify  telework hours.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.023
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Certify premium pay and leave actions.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.024
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Document certification for premium pay and leave.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.025
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Review and submit time card (by employee).
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.026
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Review and validate time card (by Timekeeper).
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.027
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Decertify/reject an employee timecard if inaccurate.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.028
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Return inaccurate time card to employee to correct errors.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.029
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Capture all categories of reported leave.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.030
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	
</td>
         <td class="capability_class" valign=top   width="40%">
Process leave each time it is accrued or used.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.031
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Apply and record usages and perform conversions to determine balances (e.g., FMLA, leave banks, voluntary leave transfer, home leave, credit hours) based on time worked and leave taken, accrued, or donated.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.032
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Update leave balance.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.033
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Manage T&A adjustments for separated employees.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.034
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Audit all transactions.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.035
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Initiate Time and Attendance corrections.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.036
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Adjust current and prior pay periods time and attendance records as necessary.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.040.037
</td>
            <td class="capability_class" valign=top >
Work Schedule and Leave Management

</td>
         <td class="capability_class" valign=top >
Time Card Management	

</td>
         <td class="capability_class" valign=top   width="40%">
Approving Officials certify timecard (certification required before T&A data can be transmitted to payroll for processing).
</td>     </tr>



<tr> <td class="capability_class" valign=top >HCM.140.050.011
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >
Time & Attendance Transmittal	

</td>
         <td class="capability_class" valign=top   width="40%">
Electronically transmit Time and Attendance data to the payroll provider.
</td>     </tr>





<tr> <td class="capability_class" valign=top >HCM.140.050.012
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >

Time & Attendance Transmittal
</td>
         <td class="capability_class" valign=top   width="40%">
Remediate any transmittal errors or issues.
</td>     </tr>





<tr> <td class="capability_class" valign=top >HCM.140.050.013
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >
Time & Attendance Transmittal	

</td>
         <td class="capability_class" valign=top   width="40%">
Track the accuracy and timeliness of T&A data transmittal to the payroll provider.
</td>     </tr>






<tr> <td class="capability_class" valign=top >HCM.140.060.011
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >

Time & Attendance Reporting		
</td>
         <td class="capability_class" valign=top   width="40%">
Manage and maintain Time and Attendance data.
</td>     </tr>






<tr> <td class="capability_class" valign=top >HCM.140.060.013
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >

Time & Attendance Reporting	
</td>
         <td class="capability_class" valign=top   width="40%">
Analyze Time and Attendance data.
</td>     </tr>




<tr> <td class="capability_class" valign=top >HCM.140.060.014
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >

Time & Attendance Reporting	

</td>
         <td class="capability_class" valign=top   width="40%">
Produce applicable Time and Attendance reports.
</td>     </tr>





<tr> <td class="capability_class" valign=top >HCM.140.060.015
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >
Time & Attendance Reporting	


</td>
         <td class="capability_class" valign=top   width="40%">
Produce ad hoc Time and Attendance reports.
</td>     </tr>





<tr> <td class="capability_class" valign=top >HCM.140.060.016
</td>
            <td class="capability_class" valign=top >

Work Schedule and Leave Management
</td>
         <td class="capability_class" valign=top >
Time & Attendance Reporting	


</td>
         <td class="capability_class" valign=top   width="40%">
Comply with National Archives and Records Administration (NARA) General Record Schedules (GRS) retention requirements.
</td>     </tr>










</table>

    <center>
    
         
      <table width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
   <BR>

</section>
<section class="usa-section usa-grid">
    <hr>       
 <!-- BUSINESS USE CASES -->
   
             
   
        <table style="border-style: hidden;"><tr><td width="220" valign=top style="border-style: hidden;">
 <A NAME="business_use_cases"> <img src="../assets/img/fibf/03.business.use.cases.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Business Use Cases - Compensation and Benefits</STRONG></font><BR>
   <I>A set of agency “stories” that document the key activities, inputs, outputs, and other LOB intersections to describe how the Federal government operates.</I>
   <BR><BR>
   To be developed.
   
   </td>
  </tr>
 </table>
 
      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
      
   <BR><BR>


 
 <hr>
 <!-- STANDARD DATA ELEMENTS -->
   
        <table  style="border-style: hidden;"><tr><td  width="220" valign=top>
 <A NAME="standard_data_elements" style="border-style: hidden;"> <img src="../assets/img/fibf/04.standard.data.elements.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Standard Data Elements - Compensation and Benefits</STRONG></font><BR>
 <I>Identify the minimum data fields required to support the inputs and outputs noted in the use cases and capabilities.</I>
<BR><BR>
To be developed.
   
   </td>
  </tr>
 </table>
 
       
      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
 
   
   <BR><BR>
             <hr>  
 <!-- PERFORMANCE METRICS -->
   
        <table style="border-style: hidden;"><tr><td valign=top  width="220" style="border-style: hidden;">
 <A NAME="performance_metrics"> <img src="../assets/img/fibf/05.performance.metrics.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Performance Metrics -Compensation and Benefits</STRONG></font><BR>
<I>Define how the government measures successful delivery of outcomes based on timeliness, efficiency, and accuracy targets.</I>
  
   <BR><BR>
    To be developed.
</td>
  </tr>
 </table>
 
   
       
      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
    
   <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>

   
         
        </section>
      
         
         
         

 <script type="text/javascript">
   
  $(document).ready(function() {
    $('#table_id').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ]
    } );
} );
  
  
  
 </script>
    
    

     <script type="text/javascript">
   
  $(document).ready(function() {
    $('#table_id').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ]
    } );
} );
  
 </script>
    
  
  <SCRIPT LANGUAGE="javascript">

Image1 = new Image(265,406)
Image1.src = "../assets/img/fibf/01.fibf.bl.on.png"

Image2 = new Image(265,406)
Image2.src = "../assets/img/fibf/01.fibf.bc.on.png"

Image3 = new Image(265,406)
Image3.src = "../assets/img/fibf/01.fibf.uc.on.png" 

Image4 = new Image(265,406)
Image4.src = "../assets/img/fibf/01.fibf.de.on.png" 

Image5 = new Image(265,406)
Image5.src = "../assets/img/fibf/01.fibf.pm.on.png" 

Image6 = new Image(265,406)
Image6.src = "../assets/img/fibf/service.areas.fm.hr.png" 

Image7 = new Image(265,406)
Image7.src = "../assets/img/fibf/service.areas.fm.fm.png" 

Image8 = new Image(265,406)
Image8.src = "../assets/img/fibf/service.areas.fm.acq.png" 

Image9 = new Image(265,406)
Image9.src = "../assets/img/fibf/service.areas.fm.tv.png" 
   
Image10 = new Image(265,406)
Image10.src = "../assets/img/fibf/service.areas.fm.gm.png" 
   
      
   
   
   
</SCRIPT>
  
