---
layout: base2
---

<link rel="stylesheet" type="text/css" href="/assets/datatables/datatables.min.css"/>
 
<script type="text/javascript" src="/assets/datatables/datatables.min.js"></script>
 

<section class="usa-section usa-grid">
<a href="../initiatives"><span style="font-family: arial">Initiatives</span></a> &gt; <span style="font-family: arial">Federal Integrated Business Framework</span>

 <p></p>
<p></p>
<font style="font-family: arial"><strong>Federal Integrated Business Framework - Financial Management Standards</strong></h2>
</section>
  
  <CENTER>

   
   
    <ul class="usa-accordion-bordered">

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      FFM.010 Budget Execution
    </button>
    <div id="b-a1" class="usa-accordion-content">

      
      
        <table>
      
        <tr><td valign=top>
          Set-Up and Maintain Budget
          </td>
        
        <td valign=top>
        Establish budget reporting attributes,  set up direct and reimbursable funding, record warrants, apportionments, allotments, etc.  

          </td>
        
        </tr>
        
        
        <tr><td valign=top>
          Fund Allocation and Control
          </td>
        
        <td valign=top>

            Implement controls designed to detect or prevent overspending for defined accounting segments.  

          </td>
        
        </tr>
        
        
        <tr><td valign=top>
        Reporting
          </td>
        
        <td valign=top>

Perform budgetary resource and budget execution analysis, provide reports, generate SF-132 and 133. 
          </td>
        
        </tr>
        
        
      
      
      </table>
      
                                
                                                 
                                                
    </div>
  </li>
            
     
   </ul>
   
   
   
   
   
   
   
   
  
  
  
  
  
  
