---
layout: base2
---
<A NAME="top">
 
<link rel="stylesheet" type="text/css" href="/assets/datatables/datatables.min.css"/>
 <link rel="stylesheet" type="text/css" href="/assets/datatables/responsive.dataTables.min.css"/>
<script type="text/javascript" src="/assets/datatables/datatables.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/uswds-{{ site.wds-version }}/js/uswds.min.js"></script>
<script src="{{ '/assets/js/index.js' | prepend: site.baseurl  }}"></script>
 
 
<style>
 .two {
background: url('../assets/img/fibf/fibf.plain.png');
}

.two:hover {
background: url('../assets/img/fibf/fibf.bc.on.png');
}
 
  #rcorners2 {
    border-radius: 15px 50px;
    border: 2px solid #205493;
    padding: 20px; 
    width: 500px;
    height: 160px;    
}

		   function flipHR(strImage) {
	  document.hrarea.src = strImage; return true;
}
	 

</style>



<section class="usa-section usa-grid">
<a href="../initiatives"><span style="font-family: arial">Initiatives</span></a> &gt; <a href="../fibf"><span 
style="font-family: arial">Federal Integrated Business Framework</A> &gt; <B>Human Capital - Employee Performance Management Standards</B></span>

 <p></p> 
 
 <p></p>
 <font style="font-family: arial; font-size:30px;"><strong>Human Capital - Employee Performance Management Standards</font></strong><BR>

 
 <script language="javascript">
function flipImage(strImage) {
  document.fibfimage.src = strImage; return true;
}
  
  function flipMenu(strImage) {
  document.svcarea.src = strImage; return true;
}
  
	 
function flipHR(strImage) {
	  document.hrarea.src = strImage; return true;
}
	 
  
 </script>
 
<table>
 <tr><td valign=top width="450" style="border-style: hidden;"><center>
<img height=400 width=400 src="../assets/img/fibf/fibf.plain.png" alt="Components of the Federal Integrated Business Framework" name="fibfimage" usemap="#image-map">
  <BR><font style="font-size: 12px;"><i>Click wheel to review standards</i></font>
  </td>
  <td valign=top  style="border-style: hidden;">
   <img src="../assets/img/fibf/service.areas.hr.hr.png" alt="Service Area Menu" name="svcarea" usemap="#svc-map">
  <CENTER>
	  <FONT style="font-size:17px;"><B>Employee Lifecycle</B></FONT>
   <img name="hrarea" src="../assets/img/fibf/hr.sub.epm.png" alt="Service Area Menu" usemap="#hr-map">
	  </CENTER>
   
<map name="svc-map">
 <area target="" alt="Human Capital" title="Human Capital" href="../fibf-hr/" 
          onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="109,0,206,125" shape="rect">
    <area target="" alt="Procurement" title="Procurement" href="../fibf-procurement/"
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.acq.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="208,2,310,125" shape="rect">
    <area target="" alt="Grants Management" title="Grants Management" href="../fibf-gm/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.gm.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="311,1,424,125" shape="rect">
    <area target="" alt="Travel" title="Travel" href="../fibf-travel/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.tv.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="427,1,520,125" shape="rect">
    <area target="" alt="Financial Management" title="Financial Management" href="../fibf-fm/" 
                 onMouseOver="flipMenu('../assets/img/fibf/service.areas.hr.fm.png');" onMouseOut="flipMenu('../assets/img/fibf/service.areas.hr.hr.png');"
          coords="6,2,104,124" shape="rect">
</map>
	  
	  
	  
<map name="hr-map">
    <area target="" alt="Human Capital - Talent Acquisition" 
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.ta.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.epm.png');"
	  title="Human Capital - Talent Acquisition" href="https://www.ussm.gov/fibf-hr" coords="4,2,99,90" shape="rect">
    <area target="" alt="Human  Capital - Talent Development"  
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.td.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.epm.png');"
	  title="Human  Capital - Talent Development" href="https://www.ussm.gov/fibf-hr-td" coords="105,3,194,81" shape="rect">
    <area target="" alt="Human  Capital - Employee Performance Management"
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.epm.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.epm.png');"
	  title="Human  Capital - Employee Performance Management" href="https://www.ussm.gov/fibf-hr-epm" coords="212,6,310,86" shape="rect">
    <area target="" alt="Human Capital - Compensation and Benefits"
	  onMouseOver="flipHR('../assets/img/fibf/hr.sub.cb.png');" onMouseOut="flipHR('../assets/img/fibf/hr.sub.epm.png');"
	  title="Human Capital - Compensation and Benefits" href="https://www.ussm.gov/fibf-hr-cb" coords="317,6,427,87" shape="rect">
</map>
	  
	  
 
 
 &nbsp;&nbsp;The Federal Integrated Business Framework is a model that enables the Federal government to better coordinate and document common business needs across agencies and focus on outcomes, data, processes and performance. It is the essential first step towards standards that will drive economies of scale and leverage the government’s buying power. 
 <BR><BR>
  
 
  <p id="rcorners2">
<B>Human Resources Service Area  Lead</B><BR>
  <B>Name:</B> OPM, Human Resources Line of Business<BR>
  <B>Web:</B><A HREF="https://www.opm.gov/services-for-agencies/hr-line-of-business/">www.opm.gov/services-for-agencies/hr-line-of-business/</A><BR>
	  <B>References:</B><A HREF="https://www.opm.gov/services-for-agencies/hr-line-of-business/hc-business-reference-model/">Human Capital Business Reference Model</A>
	  
	  </p>
 
 
   </td>
  
  </tr>
  </table>
 
  
  
  <BR><BR>
 
 <!-- Image Map Generated by http://www.image-map.net/ -->

<map name="image-map">
 
 <area class="one" target="" alt="Federal Business Lifecycle" title="Federal Business Lifecycle" 
        onMouseOver="flipImage('../assets/img/fibf/01.fibf.bl.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
href="#business_lifecycle" 
coords="64,60,138,131,169,122,198,116,234,117,258,133,335,56,287,24,227,10,169,2,117,21" shape="poly">
 
 <area class="two" target="" onMouseOver="flipImage('../assets/img/fibf/02.fibf.bc.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
 alt="f
ies" title="Business Capabilities" href="#business_capabilities" 
coords="261,135,338,63,361,89,383,137,393,179,391,224,382,268,376,285,279,235,287,187,276,158" shape="poly">

 <area class="three" target="" alt="Business Use Cases" title="Business Use Cases" 
        onMouseOver="flipImage('../assets/img/fibf/03.fibf.uc.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
href="#business_use_cases" 
coords="275,237,370,287,314,357,207,389,202,320,202,284,244,269" shape="poly">
 
 <area class="four" target="" alt="Standard Data Elements" 
        onMouseOver="flipImage('../assets/img/fibf/04.fibf.de.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
title="Standard Data Elements" href="#standard_data_elements" 
coords="196,280,192,388,125,378,72,345,35,303,28,289,119,234,137,259,166,274" shape="poly">
 
 <area class="five" target="" alt="Performance Metrics" 
        onMouseOver="flipImage('../assets/img/fibf/05.fibf.pm.on.png');" onMouseOut="flipImage('../assets/img/fibf/fibf.plain.png');"
title="Performance Metrics" href="#performance_metrics" 
coords="120,232,25,279,7,199,13,137,36,94,61,64,132,139,115,169,114,195" shape="poly">

 </map>
 

  
 <!-- BUSINESS LIFE CYCLE -->
   
   <hr>
 <table style="border-style: hidden;"><tr><td  width="220" valign=top style="border-style: hidden;">
 <A NAME="business_lifecycle"> <img src="../assets/img/fibf/01.federal.business.lifecycle.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Federal Business Lifecycle - Employee Performance Management</STRONG></font><BR>
   <I>Federal Business Lifecycles, service areas, functions, and activities serve as the basis for a common understanding of what services agencies need and solutions should offer.</I>
   <BR><BR>
    <I>Functions: Breakdown of a service area into categories of services provided to customers. 
<BR><BR>
    Activities: Within a function, processes that provide identifiable outputs/outcomes to customers are defined as activities.</I>
</td>
  </tr>
 </table>
 
    
    <font style="font-size:16px;"><I>Select from the list of available functions to view associated activities</I></font>
    
     <ul class="usa-accordion-bordered" style="width:1500px;">


      
  <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1" style="width:1000px;">
     HCM.100 Employee Performance Management
    </button>
    <div id="b-a1" class="usa-accordion-content">
<table width="950px;" cellpadding=2>
 <tr>
  <td valign=top class="capability_class">
   <i><B>Identifier</B></I>
  </td>
  <td valign=top class="capability_class" width="27%">
   <B><I>Activity</I></B>
  </td>
  <td valign=top class="capability_class">
   <B><I>Description</I></B>
  </td>
  
 </tr>
 
 
 
 <tr>
  <td valign=top class="capability_class">

 HCM.100.010<BR>
	  (A4.1.S1)
  </td>
  
  <td valign=top class="capability_class" width="27%">

	  Employee Performance Management System Development	
	  
 </td>
  <td valign=top class="capability_class">
Establishing a framework of policies and parameters by an agency for the administration of performance appraisal programs as defined at 5 U.S.C. 4302 and 5 CFR 430.204. The outcomes of this service include, but are not limited to:<BR>
	  <UL>
<BR>• develop agency specific guidelines and policies that govern employee performance management activities in compliance with U.S.C. 4302 and 5 CFR 430.204"
	  </UL>
	  
	  
 </td>
  
 </tr>
    
	
	
	
	
	
 
 <tr>
  <td valign=top class="capability_class">
HCM.100.020	<BR>
	  (A4.1.S2)

  </td>
  
  <td valign=top class="capability_class" width="27%">
	Employee Performance Management Program Development
 </td>
  <td valign=top class="capability_class">
	  
	  Creating results-oriented, performance-based Performance Management Program(s) to ensure accountability, fairness, and alignment with the mission and goals of the agency. The outcomes of this service include, but are not limited to:
<UL>
  <BR>• define objectives for the EPM programs
<BR>• define procedures, methods, and requirements for planning, monitoring, and rating employee performance:
      - developed in accordance with the agency's approved performance appraisal system(s)
      - aligned with the agency's overall employee performance strategy and objectives 
<BR>• administrative and logistical support for EPM programs 
	  </UL>
	  
 </td>
  
 </tr>
	
	
 
 <tr>
  <td valign=top class="capability_class">

HCM.100.030	<BR>
	  A4.1.S3
  </td>
  
  <td valign=top class="capability_class" width="27%">
	  Employee Performance Management Program  Evaluation
 </td>
  <td valign=top class="capability_class">
Conducting evaluations to help agencies ensure that their Performance Management Programs are compliant with policy. The outcomes of this service include, but are not limited to:
	  
<UL>	  
<BR>• evaluation methodology to assess Performance Management Program's:             
        - policy compliance 
        - extent to which the program is meeting agency performance management objectives and goals 
<BR>• evaluate program policy compliance 
<BR>• evaluate extent to which the program is meeting agency performance management objectives and goals
<BR>• verify remediation of non-compliance
	  </UL>
	
</UL>
 </td>
  
 </tr>

	  
	  
	   
 <tr>
  <td valign=top class="capability_class">

HCM.100.040	<BR>
	  (A4.1.S4)
  </td>
  
  <td valign=top class="capability_class" width="27%">
	 Employee Performance Management Cycle Administration	
 </td>
  <td valign=top class="capability_class">
<UL>
	  Developing, communicating, monitoring, appraising, and rewarding individual employee performance in accordance with policy. The outcomes of this service include, but are not limited to:
<BR>• communicate employee work and performance expectations 
<BR>• monitor and rate employee performance 
<BR>• communicate employee performance ratings
<BR>• initiate employee reward and/or remediation based on employee performance rating
<BR>• manage and facilitate all logistical aspects (e.g. workflow management, furnishing of documents, tracking of process progress) associated with the performance management process
 
</UL>
 </td>
  
 </tr>

	 
	 
	 
	  
 <tr>
  <td valign=top class="capability_class">
HCM.100.050
	  <BR>
(A4.1.S5)
  </td>
  
  <td valign=top class="capability_class" width="27%">
	Employee Performance Management Data Capture, Transfer, and Reporting  
 </td>
  <td valign=top class="capability_class">
	
Maintaining employee performance management records in accordance with policy. Provides the ability to extract reports on captured data.  The outcomes of this service include, but are not limited to:
	  <UL>
<BR>• method to capture and store employee performance records
<BR>• transfer of employee performance data in accordance with policy
<BR>• method for generating standard and ad hoc employee performance reports
<BR>• ability to view and edit employee performance records to ensure records are accurate and current"  
</UL>
 </td>
  
 </tr>

	
	
	
	
	

	
	
	     </table>
    
  <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2" style="width:1000px;">
HCM.110	Recognition Management
</button>
    <div id="b-a2" class="usa-accordion-content">

<table width="950px;">
 
  <tr>
  <td valign=top class="capability_class">
   <i><B>Identifier</B></I>
   
  </td>
  
  <td valign=top class="capability_class" width="27%">
   <B><I>Activity</I></B>
   
  </td>
  <td valign=top class="capability_class">
   <B><I>Description</I></B>
  </td>
  
 </tr>
 
 
 
      <tr>
  <td valign=top class="capability_class">
 HCM.110.010	<BR>
	  (A4.2.S1)
 
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
Recognition Programs Development 	
  
  </td>
  <td valign=top class="capability_class">
   
Creating awards programs. The outcomes of this service include, but are not limited to:
<UL>
<BR>• the objectives for the employee rewards program
<BR>• the procedures, methods, and requirements to provide rewards to employees
<BR>• administrative and logistical support for processing employee rewards 
	  </UL>
	
	</td>
  
 </tr>
 
	
	   <tr>
  <td valign=top class="capability_class">
 HCM.110.020	<BR>
	  (A4.2.S2)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
  Recognition Programs Administration	
  </td>
  <td valign=top class="capability_class">
   Implementing and maintaining awards programs in accordance with policy. The outcomes of this service include, but are not limited to:
	  <UL>
<BR>• process and complete awards initiated by agency managers and employees
<BR>• prepare and issue award certificates and other formal recognition
<BR>• integrate awards payments with payroll processes
<BR>• administrative and logistical support for agency award ceremonies 
	  </UL>	
	</td>
  
 </tr>
	
	
	
		   <tr>
  <td valign=top class="capability_class">
 HCM.110.030	<BR>
	  (A4.2.S3)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
  Recognition Programs Evaluation	
  </td>
  <td valign=top class="capability_class">
   Conducting evaluations to help agencies ensure that their awards programs are compliant with policy.  The outcomes of this service include, but are not limited to:
<UL>
	  <BR>• evaluation methodology to assess Recognition Program's:             
        <BR>- policy compliance 
        <BR>- extent to which the program is meeting agency performance recognition objectives and goals
<BR>• evaluate extent to which the program is meeting agency performance recognition objectives and goals
<BR>• evaluate compliance, and modify/replace components of awards programs that are non-compliant with policy
	  </UL>
	
	</td>
  
 </tr>

	
	
	
	
		   <tr>
  <td valign=top class="capability_class">
 HCM.110.040	<BR>
	  (A4.2.S4)
  </td>
  
   
   <td valign=top width="20%" class="capability_class">
  Recognition Programs Data Capture, Transfer and Reporting	
  </td>
  <td valign=top class="capability_class">
   Maintaining awards programs records in accordance with policy. Provides the ability to extract reports on captured data. The outcomes of this service include, but are not limited to:
<UL>
<BR>• structure and maintain award program records
<BR>• provide updates and modifications to awards program records
<BR>• request and generate standard and ad-hoc reports relating to award programs records
	  <BR>• track and audit user access of award program records</UL>
	
	</td>
  
 </tr>

	

	
 
     </table>
 
 
    </div>
  </li>
     
     
	   
	   <li style="width:1000px;">
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3" style="width:1000px;">
HCM.120	Performance Appraisal System Certification for SES and SL/ST
</button>
    <div id="b-a3" class="usa-accordion-content">
To be developed.<BR><BR>
	    
	    Performance Appraisal System Certification involves designing and implementing
a performance appraisal system covering Senior Executive Service employees, or
covering Senior-Level (SL) and Scientific and Professional (ST) employees, respectively,
in a manner that achieves certification by OPM, with OMB concurrence, that the
appraisal system, as designed and applied, makes meaningful distinctions based on
relative performance, thus authorizing use of a higher maximum pay cap and aggregate
pay limit than would otherwise apply to employees covered by the applicable appraisal
system(s). 
	    
	    
		   </div>
		   
		   
		   
   
	   
	   
    </ul>
    
    
      <table width="100%">
       <tr><td align=right style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>    
    
   <BR><BR>
    
    <hr>
     
 <!-- BUSINESS CAPABILITIES -->
      
    
     <table  style="border-style: hidden;"><tr><td  width="220" valign=top style="border-style: hidden;">
 <A NAME="business_capabilities"> <img src="../assets/img/fibf/02.business.capabilities.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Business Capabilities - Employee Performance Management</STRONG></font><BR>
 <I>Business Capabilities are the outcome-based business needs mapped to Federal government authoritative references, forms, and data standards.</I><BR><BR>
    
   
   
</td>
  </tr>
 </table>
 
       </section>
 <center>
    <section style="width:80%">
    
  <CENTER>
    <table id="table_id" class="display" width="100%" data-page-length="40" class="display responsive nowrap">
    <thead>
        <tr>
            <th>Capability ID</th>
            <th width=15%>Function</th>
            <th width=25%>Activity Name</th>
            <th width="40%">Business Capability Statement</th>
        </tr>
    </thead>
    <tbody>
    


     <tr>
            <td class="capability_class" valign=top >
A4.R1
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Define a timeline for establishing, approving, and signing performance plans.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R10
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide ability to establish performance elements and standards to be incorporated into the summary rating calculation (weighted and/or unweighted).
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R11
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to establish the methodology (consistent with applicable laws, rules, regulations, policies, and guidelines) that will be used to derive a rating of record.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R12
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to update employee’s title, organization, series, grade, and goals on a Performance Plan.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R13
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for Rating Officials and employees to acknowledge issue and receipt of all performance documents when creating a new plan.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R14
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to enable multiple approval processes (Emp/Supv, Emp/Supv/2nd Level Supv, and Supv only) for the performance plan.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R15
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to change the rating official.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R16
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Evaluate performance appraisal systems and programs in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R17
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Ensure the Employee is provided with information about the Performance Plan review process.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R18
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to link position description to performance plan.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R19
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to access a library of established performance elements other than elements focused on specific results.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R2
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Establish a minimum Appraisal Period.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R20
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to align competencies with performance management.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R21
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to align individual development plans (IDP) with annual performance plans.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R22
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for rating official to assign and rate technical and non-technical competencies.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R23
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to support the application for certification of the senior professional (SL/ST) appraisal system(s) in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R24
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for the rating/reviewing official and HR Practitioner to view cycle progress by organization, office, and employee in accordance with applicable laws, rules, policies, and guidelines.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R25
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to provide measurable, quantifiable and timely data elements to report progress on performance objectives.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R26
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Ensure that changes to the performance plan are documented and communicated to the employee.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R27
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism for employee acknowledgement of changes or modifications to established performance plans.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R28
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for Rating Official to view Accomplishments submitted by the employee throughout the appraisal period.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R29
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Establish the mechanism to capture, document and communicate employee unacceptable (e.g., less than Fully Successful) performance in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>






     <tr>
            <td class="capability_class" valign=top >
A4.R3
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism to create, modify, or view performance plans at any time throughout the performance cycle.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R30
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for Rating Officials and employees to acknowledge issue and receipt of performance documents during progress reviews.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R31
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to support one or more progress reviews during an appraisal cycle in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>



     <tr>
            <td class="capability_class" valign=top >

A4.R33
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to submit documents supporting personnel actions informed by performance, excluding WGIs and QSIs.
</td>
         
     </tr>



     <tr>
            <td class="capability_class" valign=top >

A4.R34
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for the Rating Official to view the submitted Self-Assessment throughout the appraisal period.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R35

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for employee to request feedback any time during the performance appraisal period.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R36

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to track supervisor's Coaching or Mentoring Tasks / Reminders / To Dos, to support engagement with staff and accountability for engaging employees.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R37

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for managers and employees to provide, track and maintain feedback, and/or accomplishments during Progress Reviews.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R38

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to enable multiple approval processes (Emp/Supv, Emp/Supv/2nd Level Supv, and Supv only) for summary rating.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R39

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Ensure rating of record is based only on the evaluation of actual job performance against the established elements, standards and/or expectations, for the designated appraisal period.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >

A4.R4
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Support the development of employee performance plans in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >
A4.R40

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to measure performance against identified elements, standards and/or expectations.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R41

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to not rate an element.
</td>
         
     </tr>





     <tr>
            <td class="capability_class" valign=top >

A4.R42
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to support the administration of Centralized Review Panel for Senior-Level (SL) and Scientific or Professional (ST) in accordance with applicable laws, rules, regulations, policies and guidelines.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R43

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Establish mechanism for Rating or Reviewing Official and/or designees to provide written narrative(s) to support individual element ratings and/or summary rating.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >

A4.R44
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to capture employee and Rating and Reviewing Officials feedback on a performance appraisal.
</td>
         
     </tr>




     <tr>
            <td class="capability_class" valign=top >
A4.R45

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for a rating official and/or designee to complete and submit a performance review, against the established elements, standards and/or expectations.
</td>
         
     </tr>






     <tr>
            <td class="capability_class" valign=top >
A4.R46

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for Rating Officials and employees to acknowledge issue and receipt of performance documents during performance appraisal.
</td>
         
     </tr>



     <tr>
            <td class="capability_class" valign=top >
A4.R46

</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for Rating Officials and employees to acknowledge issue and receipt of performance documents during performance appraisal.
</td>
         
     </tr>


    <tr>
            <td class="capability_class" valign=top >
A4.R47

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for the Rating Official to confirm that he/she conducted an appraisal discussion with the employee and issued a final rating of record.

</td>
         
     </tr>



    <tr>
            <td class="capability_class" valign=top >
A4.R48

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Ensure that the performance appraisal is documented, signed by the rating official, and communicated to the employee.

</td>
         
     </tr>







    <tr>
            <td class="capability_class" valign=top >
A4.R49

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism to monitor the completion of performance plans, performance reviews, and performance appraisals.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >

A4.R5
</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Provide guidance and assistance to rating officials during the performance management process in accordance with applicable laws, regulations, and policies.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >

A4.R50
</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >

Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Establish a formal and informal process for reconsideration of the rating of record.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >

A4.R51
</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to access, retain, and purge current and prior year(s) employee performance records in accordance with applicable laws, rules, regulations, policies and guidelines (e.g., ratings).

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R52

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to remove performance appraisals for plans that are null and void.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R53

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development

</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism to provide off-cycle progress reviews to support personnel decisions such as WGI approval/disapproval or adverse performance-based actions associated with unacceptable performance.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R54

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Provide capability for managers to view employee comments while completing appraisal.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R55

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for the employee to submit a Self-Assessment for consideration during performance reviews.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R56

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration

</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism to capture previous rating official feedback.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R57

</td>
            <td class="capability_class" valign=top >
Recognition Management

</td>
         <td class="capability_class" valign=top >
Recognition Programs Development

</td>
         <td class="capability_class" valign=top   width="40%">
Establish criteria for performance awards.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R58

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development

</td>
         <td class="capability_class" valign=top   width="40%">

Provide the ability to use performance ratings to determine performance award and pay eligibility.
</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R59

</td>
            <td class="capability_class" valign=top >

Recognition Management
</td>
         <td class="capability_class" valign=top >
Recognition Programs Development

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to support the administration of monetary and non-monetary awards.

</td>
         
     </tr>







    <tr>
            <td class="capability_class" valign=top >
A4.R6

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to create standardized or employee specific performance elements, standards and/or expectations.

</td>
         
     </tr>






    <tr>
            <td class="capability_class" valign=top >
A4.R60

</td>
            <td class="capability_class" valign=top >
Employee Performance Management

</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting

</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to report on awards (monetary and non-monetary) and ratings to make data driven decisions and to evaluate the efficiency and effectiveness of performance and award programs.

</td>
         
     </tr>



    <tr>
            <td class="capability_class" valign=top >
A4.R61
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to submit supporting documentation to recommend a Quality Step Increase, in accordance with applicable laws, rules, regulations, policies and guidelines.

</td>
         
     </tr>


    <tr>
            <td class="capability_class" valign=top >
A4.R62
</td>
            <td class="capability_class" valign=top >
Recognition Management
</td>
         <td class="capability_class" valign=top >
Recognition Programs Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to monitor and report monetary awards given to employees to ensure compliance with OPM guidelines.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R63
</td>
            <td class="capability_class" valign=top >
Recognition Management
</td>
         <td class="capability_class" valign=top >
Recognition Programs Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for managers, HR practitioners, and/or designees to access employee's monetary and non-monetary award history.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R64
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to create, track, maintain, and access records related to performance management system(s) and program(s) in accordance with applicable laws, rules, regulations, policies and guidelines.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R65
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Establish a mechanism to formally record the rating of record.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R66
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Support the submission of performance appraisal systems and programs documentation to OPM.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R67
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Ensure rating and reviewing officials and HR practitioners are able to pull reports throughout the various rating cycle(s), including the rating of record.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R68
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Data Capture, Transfer, and Reporting
</td>
         <td class="capability_class" valign=top   width="40%">
Establish the mechanism to provide consistent and transparent government-wide reporting of EPM system performance data.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R69
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide data support for senior professional (SL/ST) performance management appraisal system(s) certification in accordance with applicable laws, rules, regulations, policies and guidelines.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R7
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to define strategic organizational goal alignment with individual elements and standards.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R70
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">

Identify and record employees who were not rated and why a rating was not given. 
</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R71
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Program Evaluation
</td>
         <td class="capability_class" valign=top   width="40%">
Establish the mechanism to report performance management activities to EHRI.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R72
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management Cycle Administration
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability for managers and HR practitioners to select competencies from a competency library.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R8
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to establish a minimum and maximum number of performance elements.

</td>
         
     </tr>





    <tr>
            <td class="capability_class" valign=top >
A4.R9
</td>
            <td class="capability_class" valign=top >
Employee Performance Management
</td>
         <td class="capability_class" valign=top >
Employee Performance Management System Development
</td>
         <td class="capability_class" valign=top   width="40%">
Provide the ability to include performance elements that are critical, noncritical, and/or additional elements in accordance with applicable laws, rules, regulations, policies and guidelines.

</td>
         
     </tr>

</table>

    <center>
<section class="usa-section usa-grid">    
         
      <table width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
   <BR>

    <hr>       
 <!-- BUSINESS USE CASES -->
   
             
   
        <table style="border-style: hidden;"><tr><td width="220" valign=top style="border-style: hidden;">
 <A NAME="business_use_cases"> <img src="../assets/img/fibf/03.business.use.cases.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Business Use Cases - Employee Performance Management</STRONG></font><BR>
   <I>A set of agency “stories” that document the key activities, inputs, outputs, and other LOB intersections to describe how the Federal government operates.</I>
   <BR><BR>
   To be developed.
   
   </td>
  </tr>
 </table>
 

      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
      
   <BR><BR>


 
 <hr>
 <!-- STANDARD DATA ELEMENTS -->
   
        <table  style="border-style: hidden;"><tr><td  width="220" valign=top>
 <A NAME="standard_data_elements" style="border-style: hidden;"> <img src="../assets/img/fibf/04.standard.data.elements.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Standard Data Elements - Employee Performance Management</STRONG></font><BR>
 <I>Identify the minimum data fields required to support the inputs and outputs noted in the use cases and capabilities.</I>
<BR><BR>
To be developed.
   
   </td>
  </tr>
 </table>
 
       
      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
 
   
   <BR><BR>
             <hr>  
 <!-- PERFORMANCE METRICS -->
   
        <table style="border-style: hidden;"><tr><td valign=top  width="220" style="border-style: hidden;">
 <A NAME="performance_metrics"> <img src="../assets/img/fibf/05.performance.metrics.sm.png">
  </td>
  <td valign=top style="border-style: hidden;">
   <font style="font-family: arial; font-size: 20px;"><strong>Performance Metrics - Employee Performance Management</STRONG></font><BR>
<I>Define how the government measures successful delivery of outcomes based on timeliness, efficiency, and accuracy targets.</I>
  
   <BR><BR>
    To be developed.
</td>
  </tr>
 </table>
 
   
       
      <table  width="100%">
       <tr><td align=right  style="border-style:hidden;">
    <A HREF="#top">Back to top</A>
        </td>
        
       </tr>
       
      </table>
    
   <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>

   
         
        </section>
      
         
         
         

 <script type="text/javascript">
   
  $(document).ready(function() {
    $('#table_id').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ]
    } );
} );
  
  
  
 </script>
    
    

     <script type="text/javascript">
   
  $(document).ready(function() {
    $('#table_id').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ]
    } );
} );
  
 </script>
    
  
  <SCRIPT LANGUAGE="javascript">

Image1 = new Image(265,406)
Image1.src = "../assets/img/fibf/01.fibf.bl.on.png"

Image2 = new Image(265,406)
Image2.src = "../assets/img/fibf/01.fibf.bc.on.png"

Image3 = new Image(265,406)
Image3.src = "../assets/img/fibf/01.fibf.uc.on.png" 

Image4 = new Image(265,406)
Image4.src = "../assets/img/fibf/01.fibf.de.on.png" 

Image5 = new Image(265,406)
Image5.src = "../assets/img/fibf/01.fibf.pm.on.png" 

Image6 = new Image(265,406)
Image6.src = "../assets/img/fibf/service.areas.fm.hr.png" 

Image7 = new Image(265,406)
Image7.src = "../assets/img/fibf/service.areas.fm.fm.png" 

Image8 = new Image(265,406)
Image8.src = "../assets/img/fibf/service.areas.fm.acq.png" 

Image9 = new Image(265,406)
Image9.src = "../assets/img/fibf/service.areas.fm.tv.png" 
   
Image10 = new Image(265,406)
Image10.src = "../assets/img/fibf/service.areas.fm.gm.png" 
   
      
   
   
   
</SCRIPT>
  
