---
layout: base
---
<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

{% if page.banner-heading %}


  <DIV style="width: 1040px; margin 0 auto;" style="border: 1px solid #FF0000;">{{ content }}</DIV>


<section class="usa-grid usa-section" style="border: 1px solid #000000;">
  <div class="usa-width-one-whole usa-end-row"  style="border: 1px solid #FF0000;">
    {{ content }}
    {% if page.content-button-link %}
      <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
    {% endif %}
  </div>
</section>

<section class="usa-section banner tagline"  style="border: 1px solid #00FF00;">
  <div class="usa-grid"  style="border: 1px solid #0000FF;">
    <div class="usa-width-one-whole usa-end-row"  style="border: 1px solid #000055;">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}


<section class="usa-grid usa-section">
    <h2>Work Test</h2>
    {% include projects.html %}
</section>

{% include contact.html %}

